@font-face {
    font-family: 'geb';
    src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
        url('../fonts/Gilroy-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'gb';
    src: url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'gm';
    src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
}


@font-face {
    font-family: 'cdr';
    src: url('../fonts/ChronicleDisplay-Roman.woff2') format('woff2'),
        url('../fonts/ChronicleDisplay-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'cdb';
    src: url('../fonts/ChronicleDisplay-Black.woff2') format('woff2'),
        url('../fonts/ChronicleDisplay-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'cds';
    src: url('../fonts/ChronicleDisplay-Semi.woff2') format('woff2'),
        url('../fonts/ChronicleDisplay-Semi.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'cdli';
    src: url('../fonts/ChronicleDisplay-LightItalic.woff2') format('woff2'),
        url('../fonts/ChronicleDisplay-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: fallback;
}

